.canvas {
    border: 2px solid red;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}


.Wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    justify-content: flex-start;
  
    &.center {
      justify-content: center;
    }
  }